In [1]:
import numpy as np
import pandas as pd
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_sm')
import nltk
from sklearn import *
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from xgboost import XGBClassifier
import os
#os.chdir('Gender_Pronoun')
os.chdir("C:\\Users\\pavan samanth\\Gender_Pronoun")

C:\Users\pavan samanth\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\pavan samanth\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
C:\Users\pavan samanth\Anaconda3\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [2]:
test=pd.read_csv('test_stage_1.tsv',delimiter='\t',encoding='utf-8').rename(columns={'A': 'A_Noun', 'B': 'B_Noun'})

In [3]:
test.head()

,ID,Text,Pronoun,Pronoun-offset,A_Noun,A-offset,B_Noun,B-offset,URL
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,De la Sota,246,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,Henry Rosenthal,336,http://en.wikipedia.org/wiki/Crime_(band)
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,Rivera,294,http://en.wikipedia.org/wiki/Jessica_Rivera

In [4]:
development=pd.read_csv('gap-development.tsv.txt',delimiter='\t',encoding='utf-8')

In [5]:
development.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,A-coref,B,B-offset,B-coref,URL
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,True,Pauline,207,False,http://en.wikipedia.org/wiki/List_of_Teachers_...
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,True,Bernard Leach,251,False,http://en.wikipedia.org/wiki/Warren_MacKenzie
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,False,De la Sota,246,True,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,False,Henry Rosenthal,336,True,http://en.wikipedia.org/wiki/Crime_(band)
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,False,Rivera,294,True,http://en.wikipedia.org/wiki/Jessica_Rivera

In [6]:
validation = pd.read_csv('gap-validation.tsv.txt',delimiter='\t')

In [7]:
validation.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,A-coref,B,B-offset,B-coref,URL
0,validation-1,He admitted making four trips to China and pla...,him,256,Jose de Venecia Jr,208,False,Abalos,241,False,http://en.wikipedia.org/wiki/Commission_on_Ele...
1,validation-2,"Kathleen Nott was born in Camberwell, London. ...",She,185,Ellen,110,False,Kathleen,150,True,http://en.wikipedia.org/wiki/Kathleen_Nott
2,validation-3,"When she returns to her hotel room, a Liberian...",his,435,Jason Scott Lee,383,False,Danny,406,True,http://en.wikipedia.org/wiki/Hawaii_Five-0_(20...
3,validation-4,"On 19 March 2007, during a campaign appearance...",he,333,Reucassel,300,True,Debnam,325,False,http://en.wikipedia.org/wiki/Craig_Reucassel
4,validation-5,"By this time, Karen Blixen had separated from ...",she,427,Finch Hatton,290,False,Beryl Markham,328,True,http://en.wikipedia.org/wiki/Denys_Finch_Hatton

In [8]:
#train = pd.concat((test,validation)).rename(columns={'A': 'A_Noun', 'B': 'B_Noun'}).reset_index(drop=True)

In [9]:
#train.shape

In [10]:
gh_test = pd.read_csv('gap-test.tsv.txt',delimiter='\t')

In [11]:
gh_test.shape

(2000, 11)

In [12]:
train = pd.concat((gh_test,validation)).rename(columns={'A': 'A_Noun', 'B': 'B_Noun'}).reset_index(drop=True)

In [13]:
train.shape

(2454, 11)

In [14]:
train.to_excel("train_gap.xlsx")

C:\Users\pavan samanth\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'http://www.orangeprize.co.uk/opf/archive.php4%20In%202000,%20Hamilton%20was%20named%20a%20Notable%20Wisconsin%20Author%20by%20the%20Wisconsin%20Library%20Association.%20http://www.wla.lib.wi.us/readers/WLAC/Notable/Notable2000.htm%20All%20of%20her%20books%20are%20set,%20at%20least%20in%20part,%20in%20Wisconsin.%20%60%60A%20Map%20of%20the%20World''%20is%20set%20in%20Racine%20County,%20Wis.%20Of%20her%20writing,%20novelist%20Laura%20Moriarty%20says:%20%60%60I%20like%20Jane%20Hamilton%20for%20her%20compassionate%20portrayals%20of%20characters%20most%20people%20would%20ridicule,%20and%20the%20way%20her%20books%20show%20the%20beauty%20of%20rural%20life%20without%20romanticizing%20it.''' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))

In [15]:
def name_replace(s, r1, r2):
    s = str(s).replace(r1,r2)
    for r3 in r1.split(' '):
        s = str(s).replace(r3,r2)
    return s

In [16]:
train['Text'] = train.apply(lambda r: name_replace(r['Text'], r['A_Noun'], 'subjectone'), axis=1)
#df['Text'] = df.apply(lambda r: name_replace(r['Text'], r['B_Noun'], 'subjecttwo'), axis=1)

In [17]:
train['Text']

0       Upon their acceptance into the Kontinental Hoc...
1       Between the years 1979-1981, River won four lo...
2       Though his emigration from the country has aff...
3       At the trial, Pisciotta said: ``Those who have...
4       It is about a pair of United States Navy shore...
5       The others were Adam Baldwin (Jayne Cobb in Fi...
6       subjectone Fischer (born October 19, 1988) is ...
7       The monster arrives and bites Jeni's tongue, b...
8       On June 4, 1973 at the Felt Forum, Madison Squ...
9       Go Away (Lorrie Morgan song) ``Go Away'' is a ...
10      Taken in by S.H.I.E.L.D. she is under the dire...
11      Neither knows the truth about their respective...
12      He was a lawyer in Pulaski County before servi...
13      He left the Army in 1946. As the recipient of ...
14      subjectone is a British actress best known for...
15      Indeed, Buster was fully intended to exist in ...
16      In the late 1970s, she toured in musical comed...
17      Jennifer Slept Here ended in 1984, enabling he...
18      On May 17, 2004, when the very successful Die ...
19      subjectone (Florence, 1701--1769) was an Itali...
20      Rabelais traveled frequently to Rome with his ...
21      The team spends some time in a beach-house on ...
22      After seeing an image of Venus, Vulcan, and Cu...
23      subjectone played piano for a concert with the...
24      That opened the door for Racing Engineering's ...
25      It explored their interconnection and geograph...
26      subjectone first appears when Theresa visits h...
27      The central characters are Juliana Crain, Fran...
28      The second season was released on December 16,...
29      A 1969 film, directed and co-written by Arthur...
                              ...
2424    Ericsson had a distinguished career in naval d...
2425    Peter's parish church, Hanwell. subjectone Har...
2426    Danielle later breaks down and tells subjecton...
2427    On March 23, 1933, middle-aged cigar store own...
2428    As a practicing attorney, Ms. subjectone speci...
2429    subjectone was born 1 January 1862 in London, ...
2430    Anam goes to meet Zeeshan in jail where he ask...
2431    subjectone knows everything about Bani and tra...
2432    He smokes too much, lectures every once in a w...
2433    Berberian's death was due to a heart attack, a...
2434    Finding that his relationship with Natalie has...
2435    Caroline subjectone, the then Chairman of the ...
2436    She returned to competition at the 2014 Four C...
2437    To reach the quarter final, she had defeated A...
2438    The two ``Suppositions'' satirise the manners ...
2439    An office pool is started on when Dan will die...
2440    In 1959, Vivian Bell, a 35-year-old English pr...
2441    After her sophomore year in college, subjecton...
2442    Later, a desperate Joe asks Graeme if he could...
2443    He works from his studio is located in the Tan...
2444    Henry Orlac is murdered, and Stephen receives ...
2445    In order to pay for her lessons with Lorraine,...
2446    The argument ends with Abe's leaving in a huff...
2447    subjectone: Punisher felt that he was the bigg...
2448    The iron-hulled steamer subjectone was built i...
2449    He then agrees to name the gargoyle Goldie, af...
2450    Disgusted with the family's ``mendacity'', Bri...
2451    She manipulates Michael into giving her custod...
2452    On April 4, 1986, Donal Henahan wrote in the N...
2453    Pleasant explains subjectone's guilty conscien...
Name: Text, Length: 2454, dtype: object

In [18]:
def name_replace(s, r1, r2):
    s = str(s).replace(r1,r2)
    for r3 in r1.split(' '):
        s = str(s).replace(r3,r2)
    return s

def get_features(df):
    df['section_min'] = df[['Pronoun-offset', 'A-offset', 'B-offset']].min(axis=1)
    df['Pronoun-offset2'] = df['Pronoun-offset'] + df['Pronoun'].map(len)
    df['A-offset2'] = df['A-offset'] + df['A_Noun'].map(len)
    df['B-offset2'] = df['B-offset'] + df['B_Noun'].map(len)                               
    df['section_max'] = df[['Pronoun-offset2', 'A-offset2', 'B-offset2']].max(axis=1)
    #df['Text'] = df.apply(lambda r: r['Text'][: r['Pronoun-offset']] + 'pronountarget' + r['Text'][r['Pronoun-offset'] + len(str(r['Pronoun'])): ], axis=1)
    df['Text'] = df.apply(lambda r: name_replace(r['Text'], r['A_Noun'], 'subjectone'), axis=1)
    df['Text'] = df.apply(lambda r: name_replace(r['Text'], r['B_Noun'], 'subjecttwo'), axis=1)
    
    
    df['A-dist'] = (df['Pronoun-offset'] - df['A-offset']).abs()
    df['B-dist'] = (df['Pronoun-offset'] - df['B-offset']).abs()
    return(df)

train = get_features(train)
test = get_features(test)

In [19]:
train

,ID,Text,Pronoun,Pronoun-offset,A_Noun,A-offset,A-coref,B_Noun,B-offset,B-coref,URL,section_min,Pronoun-offset2,A-offset2,B-offset2,section_max,A-dist,B-dist
0,test-1,Upon their acceptance into the Kontinental Hoc...,His,383,Bob Suter,352,False,Dehner,366,True,http://en.wikipedia.org/wiki/Jeremy_Dehner,352,386,361,372,386,31,17
1,test-2,"Between the years 1979-1981, River won four lo...",him,430,Alonso,353,True,Alfredo Di St*fano,390,False,http://en.wikipedia.org/wiki/Norberto_Alonso,353,433,359,408,433,77,40
2,test-3,Though his emigration from the country has aff...,He,312,Ali Aladhadh,256,True,Saddam,295,False,http://en.wikipedia.org/wiki/Aladhadh,256,314,268,301,314,56,17
3,test-4,"At the trial, subjecttwo said: ``Those who hav...",his,526,Alliata,377,False,Pisciotta,536,True,http://en.wikipedia.org/wiki/Gaspare_Pisciotta,377,529,384,545,545,149,10
4,test-5,It is about a pair of United States Navy shore...,his,406,Eddie,421,True,Rock Reilly,559,False,http://en.wikipedia.org/wiki/Chasers,406,409,426,570,570,15,153
5,test-6,The others were Adam Baldwin (Jayne Cobb in Fi...,her,349,Jewel Staite,281,True,Keller,310,False,http://en.wikipedia.org/wiki/Jennifer_Keller,281,352,293,316,352,68,39
6,test-7,"subjectone Fischer (born October 19, 1988) is ...",She,365,Allison,232,True,Grace Smythe,290,False,http://en.wikipedia.org/wiki/Allison_Fischer,232,368,239,302,368,133,75
7,test-8,The monster arrives and bites subjecttwo's ton...,her,307,Sophie,248,False,Jeni,277,True,http://en.wikipedia.org/wiki/Leprechaun:_Origins,248,310,254,281,310,59,30
8,test-9,"On June 4, 1973 at the Felt Forum, Madison Squ...",he,227,Malave,124,True,Greg Joiner,169,False,http://en.wikipedia.org/wiki/Edwin_Malave,124,229,130,180,229,103,58
9,test-10,Go Away (subjecttwo song) ``Go Away'' is a son...,her,223,Cathy Majeski,78,False,Lorrie Morgan,154,True,http://en.wikipedia.org/wiki/Go_Away_(Lorrie_M...,78,226,91,167,226,145,69
10,test-11,Taken in by S.H.I.E.L.D. she is under the dire...,her,344,Natasha Romanova,313,False,Johnson,369,True,http://en.wikipedia.org/wiki/Daisy_Johnson,313,347,329,376,376,31,25
11,test-12,Neither knows the truth about their respective...,she,290,Dolores,195,False,Rosalinda,207,False,http://en.wikipedia.org/wiki/Rosalinda_(Philip...,195,293,202,216,293,95,83
12,test-13,He was a lawyer in Pulaski County before servi...,His,352,Clinton,206,False,Hubbell,232,True,http://en.wikipedia.org/wiki/Webster_Hubbell,206,355,213,239,355,146,120
13,test-14,He left the Army in 1946. As the recipient of ...,he,256,Alex Bernard,181,False,Hanson,222,True,http://en.wikipedia.org/wiki/Raymond_Hanson_(c...,181,258,193,228,258,75,34
14,test-15,subjectone is a British actress best known for...,She,126,Nicola Alexis,0,True,WPC Ruby Buxton,70,False,http://en.wikipedia.org/wiki/Nicola_Alexis,0,129,13,85,129,126,56
15,test-16,"Indeed, subjecttwo was fully intended to exist...",his,320,Spike,360,True,Buster,445,False,http://en.wikipedia.org/wiki/Spike_Witwicky,320,323,365,451,451,40,125
16,test-17,"In the late 1970s, she toured in musical comed...",She,302,Ann Jillian,185,True,Ann Miller,282,False,http://en.wikipedia.org/wiki/Ann_Jillian,185,305,196,292,305,117,20
17,test-18,"Jennifer Slept Here ended in 1984, enabling he...",her,297,Dunaway,165,False,Jillian,228,True,http://en.wikipedia.org/wiki/Ann_Jillian,165,300,172,235,300,132,69
18,test-19,"On May 17, 2004, when the very successful Die ...",her,277,Engelke,210,True,Marge Simpson,241,False,http://en.wikipedia.org/wiki/Anke_Engelke,210,280,217,254,280,67,36
19,test-20,"subjectone (Florence, 1701--1769) was an Itali...",He,182,Antonio di Filippo di Lorenzo Niccolini,0,True,Filippo,248,False,http://en.wikipedia.org/wiki/Antonio_Niccolini...,0,184,39,255,255,182,66
20,test-21,subjecttwo traveled frequently to Rome with hi...,his,349,du Bellay,298,False,Rabelais,314,True,http://en.wikipedia.org/wiki/Jean_du_Bellay,298,352,307,322,352,51,35
21,test-22,The team spends some time in a beach-house on ...,her,313,Caitlin Fairchild,242,True,Sarah,272,False,http://en.wikipedia.org/wiki/Sarah_Rainmaker,242,316,259,277,316,71,41
22,test-23,"After seeing an image of Venus, Vulcan, and Cu...",he,270,Chaucer,173,True,Aeneas,231,False,http://en.wikipedia.org/wiki/The_House_of_Fame,173,272,180,237,272,97,39
23,test-24,subjectone played piano for a concert with the...,He,509,Jones,294,True,Chris Kimsey,495,False,http://en.wikipedia.org/wiki/John_Jones_(recor...,294,511,299,507,511,215,14
24,test-25,That opened the door for Racing Engineering's ...,his,394,Oliver Turvey,299,True,Luca Filippi,361,False,http://en.wikipedia.org/wiki/2010_Hungaroring_...,299,397,312,373,397,95,33
25,test-26,It explored their interconnection and geograph...,his,314,Liang Qichao,253,False,Huang Zongxi,325,True,http://en.wikipedia.org/wiki/Huang_Zongxi,253,317,265,337,337,61,11
26,test-27,subjectone first appears when subjecttwo visit...,her,43,Kathleen,0,True,Theresa,28,False,http://en.wikipedia.org/wiki/Kathleen_McQueen,0,46,8,35,46,43,15
27,test-28,"The central characters are subjecttwo Crain, F...",her,244,Trudy,260,False,Juliana,312,True,http://en.wikipedia.org/wiki/The_Man_in_the_Hi...,244,247,265,319,319,16,68
28,test-29,"The second season was released on December 16,...",she,267,Karen,208,False,Juliana,231,False,http://en.wikipedia.org/wiki/The_Man_in_the_Hi...,208,270,213,238,270,59,36
29,test-30,"A 1969 film, directed and co-written by Arthur...",his,290,Arlo,212,True,Woody Guthrie,301,False,http://en.wikipedia.org/wiki/Arlo_Guthrie,212,293,216,314,314,78,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,validation-425,Ericsson had a distinguished career in naval d...,his,320,John C,280,False,Gilmer,492,False,http://en.wikipedia.org/wiki/USS_Princeton_(1843),280,323,286,498,498,40,172
2425,validation-426,"Peter's parish church, Hanwell. subjectone sub...",his,246,George,185,False,Nicholas Harris,204,True,http://en.wikipedia.org/wiki/Fritwell,185,249,191,219,249,61,42
2426,validation-427,Danielle later breaks down and tells subjecton...,he,258,Ronnie,198,False,Andy,236,True,http://en.wikipedia.org/wiki/Danielle_Jones_(E...,198,260,204,240,260,60,22
2427,validation-428,"On March 23, 1933, middle-aged cigar store own...",her,322,Mary,369,True,Elvina,414,False,http://en.wikipedia.org/wiki/Turn_Back_the_Clo...,322,325,373,420,420,47,92
2428,validation-429,"As a practicing attorney, Ms. subjectone speci...",she,442,Neal,310,True,Lynne V. Cheney,419,False,http://en.wikipedia.org/wiki/Anne_D._Neal,310,445,314,434,445,132,23
2429,validation-430,"subjectone was born 1 January 1862 in London, ...",Her,165,Ethel Tweedie,0,True,Emma Jessier,90,False,http://en.wikipedia.org/wiki/Ethel_Brilliana_T...,0,168,13,102,168,165,75
2430,validation-431,Anam goes to meet Zeeshan in jail where he ask...,his,351,Ansar,285,False,Kamaal,382,False,http://en.wikipedia.org/wiki/Kahi_Unkahi,285,354,290,388,388,66,31
2431,validation-432,subjectone knows everything about Bani and tra...,she,334,Deb,171,False,Pallavi,248,False,http://en.wikipedia.org/wiki/Kasamh_Se,171,337,174,255,337,163,86
2432,validation-433,"He smokes too much, lectures every once in a w...",her,399,Catherine,297,False,Wanda Woman,410,True,http://en.wikipedia.org/wiki/List_of_Gad_Guard...,297,402,306,421,421,102,11
2433,validation-434,"subjecttwo's death was due to a heart attack, ...",her,303,Cristina,316,False,Berberian,435,True,http://en.wikipedia.org/wiki/Cathy_Berberian,303,306,324,444,444,13,132
2434,validation-435,Finding that his relationship with subjecttwo ...,her,288,Mia,316,False,Natalie,342,True,http://en.wikipedia.org/wiki/Love_Actually,288,291,319,349,349,28,54
2435,validation-436,"Caroline subjectone, the then Chairman of the ...",her,374,Spelman,284,True,Tina Haynes,352,False,http://en.wikipedia.org/wiki/List_of_expenses_...,284,377,291,363,377,90,22
2436,validation-437,She returned to competition at the 2014 Four C...,she,302,Kanako Murakami,174,False,Satoko Miyahara,217,False,http://en.wikipedia.org/wiki/Li_Zijun,174,305,189,232,305,128,85
2437,validation-438,"To reach the quarter final, she had defeated A...",her,457,Rodionova,371,False,Lisicki,396,True,http://en.wikipedia.org/wiki/Sabine_Lisicki,371,460,380,403,460,86,61
2438,validation-439,The two ``Suppositions'' satirise the manners ...,she,603,Miss Coquettilla,191,False,Hands,308,True,http://en.wikipedia.org/wiki/Elizabeth_Hands,191,606,207,313,606,412,295
2439,validation-440,An office pool is started on when Dan will die...,him,281,Jack,210,True,Julius,265,False,http://en.wikipedia.org/wiki/The_Good_Guys_(20...,210,284,214,271,284,71,16
2440,validation-441,"In 1959, Vivian Bell, a 35-year-old English pr...",she,440,Cay Rivvers,368,True,Frances,420,False,http://en.wikipedia.org/wiki/Desert_Hearts,368,443,379,427,443,72,20
2441,validation-442,"After her sophomore year in college, subjecton...",her,6,Lofgren,37,True,Erin Cafaro,218,False,http://en.wikipedia.org/wiki/Esther_Lofgren,6,9,44,229,229,31,212
2442,validation-443,"Later, a desperate subjecttwo asks Graeme if h...",he,332,David,311,True,Joe,328,False,http://en.wikipedia.org/wiki/Joe_McIntyre_(Cor...,311,334,316,331,334,21,4
2443,validation-444,He works from his studio is located in the Tan...,She,647,Bellamacina,776,True,Lorca,828,False,http://en.wikipedia.org/wiki/Robert_Montgomery...,647,650,787,833,833,129,181
2444,validation-445,"Henry Orlac is murdered, and subjecttwo receiv...",his,299,Rollo,258,True,Stephen,278,False,http://en.wikipedia.org/wiki/Mad_Love_(1935_film),258,302,263,285,302,41,21
2445,validation-446,"In order to pay for her lessons with Lorraine,...",her,379,Rankin,294,True,Traubel,334,False,http://en.wikipedia.org/wiki/Nell_Rankin,294,382,300,341,382,85,45
2446,validation-447,The argument ends with Abe's leaving in a huff...,her,259,Megan,64,False,Peggy,146,True,http://en.wikipedia.org/wiki/Far_Away_Places_(...,64,262,69,151,262,195,113
2447,validation-448,subjectone: Punisher felt that he was the bigg...,he,342,Francisco,275,False,Craig,301,False,http://en.wikipedia.org/wiki/I_Love_Money_(sea...,275,344,284,306,344,67,41
2448,validation-449,The iron-hulled steamer subjectone was built i...,her,226,Gertrude,24,True,Emma,241,False,http://en.wikipedia.org/wiki/USS_Gertrude_(1863),24,229,32,245,245,202,15
2449,validation-450,"He then agrees to name the gargoyle Goldie, af...",He,305,Lucien,252,False,Abel,264,False,http://en.wikipedia.org/wiki/Goldie_(DC_Comics),252,307,258,268,307,53,41
2450,validation-451,"Disgusted with the family's ``mendacity'', Bri...",she,365,Maggie,242,False,Mae,257,False,http://en.wikipedia.org/wiki/Cat_on_a_Hot_Tin_...,242,368,248,260,368,123,108
2451,validation-452,She manipulates Michael into giving her custod...,she,306,Scarlett,255,False,Alice,291,True,http://en.wikipedia.org/wiki/Michael_Moon_(Eas...,255,309,263,296,309,51,15
2452,validation-453,"On April 4, 1986, Donal Henahan wrote in the N...",her,330,Aida,250,False,Miss Millo,294,True,http://en.wikipedia.org/wiki/Aprile_Millo,250,333,254,304,333,80,36
2453,validation-454,Pleasant explains subjectone's guilty conscien...,him,282,Vassey,234,True,Denton,255,False,http://en.wikipedia.org/wiki/Small_Crimes,234,285,240,261,285,48,27

In [20]:
def get_nlp_features(s, w):
    doc = nlp(str(s))
    tokens = pd.DataFrame([[token.text, token.dep_] for token in doc], columns=['text', 'dep'])
    return len(tokens[((tokens['text']==w) & (tokens['dep']=='poss'))])

train['A-poss'] = train['Text'].map(lambda x: get_nlp_features(x, 'subjectone'))
train['B-poss'] = train['Text'].map(lambda x: get_nlp_features(x, 'subjecttwo'))
test['A-poss'] = test['Text'].map(lambda x: get_nlp_features(x, 'subjectone'))
test['B-poss'] = test['Text'].map(lambda x: get_nlp_features(x, 'subjecttwo'))

In [21]:
train = train.rename(columns={'A-coref':'A', 'B-coref':'B'})
train['A'] = train['A'].astype(int)
train['B'] = train['B'].astype(int)
train['NEITHER'] = 1.0 - (train['A'] + train['B'])

In [22]:
col = ['Pronoun-offset', 'A-offset', 'B-offset', 'section_min', 'Pronoun-offset2', 'A-offset2', 'B-offset2', 'section_max', 'A-poss', 'B-poss', 'A-dist', 'B-dist']
x1, x2, y1, y2 = model_selection.train_test_split(train[col].fillna(-1), train[['A', 'B', 'NEITHER']], test_size=0.2, random_state=1)
x1.head()

,Pronoun-offset,A-offset,B-offset,section_min,Pronoun-offset2,A-offset2,B-offset2,section_max,A-poss,B-poss,A-dist,B-dist
1699,448,379,390,379,451,385,401,451,0,0,69,58
1790,374,315,346,315,377,329,358,377,0,2,59,28
1665,349,297,329,297,352,306,334,352,0,0,52,20
898,299,262,281,262,302,265,285,302,0,1,37,18
270,431,336,379,336,433,340,385,433,0,1,95,52

In [23]:
model = multiclass.OneVsRestClassifier(ensemble.RandomForestClassifier(max_depth = 7, n_estimators=1000, random_state=33))
# model = multiclass.OneVsRestClassifier(ensemble.ExtraTreesClassifier(n_jobs=-1, n_estimators=100, random_state=33))

# param_dist = {'objective': 'binary:logistic', 'max_depth': 1, 'n_estimators':1000, 'num_round':1000, 'eval_metric': 'logloss'}
# model = multiclass.OneVsRestClassifier(xgb.XGBClassifier(**param_dist))

model.fit(x1, y1)
print('log_loss', metrics.log_loss(y2, model.predict_proba(x2)))
model.fit(train[col].fillna(-1), train[['A', 'B', 'NEITHER']])
results = model.predict_proba(test[col])
test['A'] = results[:,0]
test['B'] = results[:,1]
test['NEITHER'] = results[:,2]
test[['ID', 'A', 'B', 'NEITHER']].to_csv('submission.csv', index=False)

log_loss 0.9241298387965972

In [24]:
test.shape

(2000, 21)

In [25]:
submission = pd.read_csv('submission.csv')

In [26]:
submission

                    ID         A         B   NEITHER
0        development-1  0.405355  0.458921  0.104922
1        development-2  0.434218  0.476733  0.096633
2        development-3  0.475165  0.454440  0.073557
3        development-4  0.505004  0.423239  0.080587
4        development-5  0.446601  0.435365  0.104820
5        development-6  0.470788  0.437313  0.074523
6        development-7  0.469262  0.465283  0.073281
7        development-8  0.500614  0.415727  0.106587
8        development-9  0.393313  0.513080  0.119463
9       development-10  0.472862  0.415946  0.134474
10      development-11  0.430743  0.451207  0.107632
11      development-12  0.428139  0.483499  0.083899
12      development-13  0.408577  0.495180  0.099402
13      development-14  0.421060  0.475009  0.104933
14      development-15  0.363564  0.527624  0.102769
15      development-16  0.431447  0.426575  0.120993
16      development-17  0.412838  0.536211  0.051812
17      development-18  0.468850  0.431815  0.107549
18      development-19  0.417836  0.481909  0.108006
19      development-20  0.432448  0.557573  0.045367
20      development-21  0.456347  0.349326  0.149384
21      development-22  0.422099  0.445148  0.119522
22      development-23  0.461032  0.508724  0.045863
23      development-24  0.424862  0.604690  0.060656
24      development-25  0.485020  0.420864  0.108857
25      development-26  0.345729  0.457520  0.155931
26      development-27  0.392110  0.543164  0.089696
27      development-28  0.520621  0.469990  0.085415
28      development-29  0.428479  0.490107  0.080463
29      development-30  0.431406  0.464951  0.102373
...                ...       ...       ...       ...
1970  development-1971  0.410496  0.509209  0.095670
1971  development-1972  0.471091  0.460812  0.072324
1972  development-1973  0.423921  0.499973  0.087071
1973  development-1974  0.411272  0.499096  0.109387
1974  development-1975  0.480480  0.453291  0.048936
1975  development-1976  0.357571  0.526049  0.101702
1976  development-1977  0.459928  0.370197  0.090624
1977  development-1978  0.459718  0.401268  0.140145
1978  development-1979  0.432699  0.466693  0.096505
1979  development-1980  0.402533  0.541765  0.086697
1980  development-1981  0.959786  0.061069  0.019389
1981  development-1982  0.477354  0.423772  0.088866
1982  development-1983  0.481259  0.411338  0.130645
1983  development-1984  0.363581  0.522295  0.105056
1984  development-1985  0.432869  0.478472  0.094061
1985  development-1986  0.453506  0.471086  0.076731
1986  development-1987  0.352459  0.545313  0.087031
1987  development-1988  0.336647  0.638312  0.149542
1988  development-1989  0.319033  0.343228  0.342960
1989  development-1990  0.447294  0.502743  0.050153
1990  development-1991  0.409360  0.492052  0.089070
1991  development-1992  0.298042  0.425851  0.243942
1992  development-1993  0.450064  0.443229  0.116461
1993  development-1994  0.448834  0.484325  0.062540
1994  development-1995  0.502148  0.394595  0.114338
1995  development-1996  0.454218  0.428358  0.092052
1996  development-1997  0.426070  0.448368  0.141043
1997  development-1998  0.448031  0.381664  0.130863
1998  development-1999  0.459159  0.416231  0.120545
1999  development-2000  0.438348  0.493379  0.052364

[2000 rows x 4 columns]